<?xml version="1.0" encoding="utf-8" ?>
<config>
    <tree>
        <folder name="技术资讯" open="1">
            <channel>
                <name>NoSQLFan</name>
                <link>http://feed.feedsky.com/nosqlfan</link>
                <AllNewsNum>114</AllNewsNum>
                <UnReadNewsNum>81</UnReadNewsNum>
                <Selected>0</Selected>
                <TTU>60</TTU>
                <MaxNewsNum>1000</MaxNewsNum>
            </channel>
            <folder name="性能E" open="1">
                <channel>
                    <name>All Things Distributed</name>
                    <link>http://www.allthingsdistributed.com/index.xml</link>
                    <AllNewsNum>43</AllNewsNum>
                    <UnReadNewsNum>43</UnReadNewsNum>
                    <Selected>0</Selected>
                    <TTU>60</TTU>
                    <MaxNewsNum>1000</MaxNewsNum>
                </channel>
                <channel>
                    <name>High Scalability</name>
                    <link>http://feeds.feedburner.com/HighScalability</link>
                    <AllNewsNum>30</AllNewsNum>
                    <UnReadNewsNum>29</UnReadNewsNum>
                    <Selected>0</Selected>
                    <TTU>60</TTU>
                    <MaxNewsNum>1000</MaxNewsNum>
                </channel>
                <channel>
                    <name>MongoLab - MongoDB Hosting</name>
                    <link>http://blog.mongolab.com/feed/</link>
                    <AllNewsNum>21</AllNewsNum>
                    <UnReadNewsNum>21</UnReadNewsNum>
                    <Selected>0</Selected>
                    <TTU>60</TTU>
                    <MaxNewsNum>1000</MaxNewsNum>
                </channel>
            </folder>
        </folder>
        <folder name="科技资讯" open="1">
            <channel>
                <name>CSDN业界资讯</name>
                <link>http://articles.csdn.net/api/rss.php?tid=1008</link>
                <AllNewsNum>833</AllNewsNum>
                <UnReadNewsNum>571</UnReadNewsNum>
                <Selected>0</Selected>
                <TTU>60</TTU>
                <MaxNewsNum>1000</MaxNewsNum>
            </channel>
            <channel>
                <name>CSDN最新资讯</name>
                <link>http://www.csdn.net/article/rss_lastnews</link>
                <AllNewsNum>70</AllNewsNum>
                <UnReadNewsNum>70</UnReadNewsNum>
                <Selected>0</Selected>
                <TTU>60</TTU>
                <MaxNewsNum>1000</MaxNewsNum>
            </channel>
            <channel>
                <name>CSDN 移动频道(资讯)</name>
                <link>http://mobile.csdn.net/rss_mobile.html</link>
                <AllNewsNum>20</AllNewsNum>
                <UnReadNewsNum>20</UnReadNewsNum>
                <Selected>0</Selected>
                <TTU>60</TTU>
                <MaxNewsNum>1000</MaxNewsNum>
            </channel>
            <channel>
                <name>新浪互联网新闻</name>
                <link>http://rss.sina.com.cn/tech/internet/home28.xml</link>
                <AllNewsNum>1000</AllNewsNum>
                <UnReadNewsNum>529</UnReadNewsNum>
                <Selected>0</Selected>
                <TTU>60</TTU>
                <MaxNewsNum>1000</MaxNewsNum>
            </channel>
            <channel>
                <name>DoNews</name>
                <link>http://www.donews.com/rss.php?cid=150</link>
                <AllNewsNum>1025</AllNewsNum>
                <UnReadNewsNum>972</UnReadNewsNum>
                <Selected>0</Selected>
                <TTU>60</TTU>
                <MaxNewsNum>1000</MaxNewsNum>
            </channel>
            <channel>
                <name>36氪</name>
                <link>http://feed.36kr.com/c/33346/f/566026/index.rss</link>
                <AllNewsNum>1025</AllNewsNum>
                <UnReadNewsNum>933</UnReadNewsNum>
                <Selected>0</Selected>
                <TTU>60</TTU>
                <MaxNewsNum>1000</MaxNewsNum>
            </channel>
            <channel>
                <name>LBS观景台</name>
                <link>http://feed.feedsky.com/lbsvision</link>
                <AllNewsNum>382</AllNewsNum>
                <UnReadNewsNum>320</UnReadNewsNum>
                <Selected>0</Selected>
                <TTU>60</TTU>
                <MaxNewsNum>1000</MaxNewsNum>
            </channel>
            <channel>
                <name>互联网的那点事</name>
                <link>http://www.alibuybuy.com/feed/rss</link>
                <AllNewsNum>593</AllNewsNum>
                <UnReadNewsNum>531</UnReadNewsNum>
                <Selected>0</Selected>
                <TTU>60</TTU>
                <MaxNewsNum>1000</MaxNewsNum>
            </channel>
            <channel>
                <name>雷锋网</name>
                <link>http://www.leiphone.com/feed</link>
                <AllNewsNum>1020</AllNewsNum>
                <UnReadNewsNum>914</UnReadNewsNum>
                <Selected>0</Selected>
                <TTU>60</TTU>
                <MaxNewsNum>1000</MaxNewsNum>
            </channel>
            <channel>
                <name>互联网_比特网</name>
                <link>http://net.chinabyte.com/index.xml</link>
                <AllNewsNum>241</AllNewsNum>
                <UnReadNewsNum>241</UnReadNewsNum>
                <Selected>0</Selected>
                <TTU>60</TTU>
                <MaxNewsNum>1000</MaxNewsNum>
            </channel>
            <channel>
                <name>互联网的一些事</name>
                <link>http://feed.yixieshi.com/</link>
                <AllNewsNum>1010</AllNewsNum>
                <UnReadNewsNum>982</UnReadNewsNum>
                <Selected>0</Selected>
                <TTU>60</TTU>
                <MaxNewsNum>1000</MaxNewsNum>
            </channel>
            <channel>
                <name>TechWeb 移动互联 RSS阅读</name>
                <link>http://www.techweb.com.cn/rss/mi.xml</link>
                <AllNewsNum>308</AllNewsNum>
                <UnReadNewsNum>307</UnReadNewsNum>
                <Selected>0</Selected>
                <TTU>60</TTU>
                <MaxNewsNum>1000</MaxNewsNum>
            </channel>
            <channel>
                <name>TechWeb 业界 RSS阅读</name>
                <link>http://www.techweb.com.cn/rss/it.xml</link>
                <AllNewsNum>841</AllNewsNum>
                <UnReadNewsNum>840</UnReadNewsNum>
                <Selected>0</Selected>
                <TTU>60</TTU>
                <MaxNewsNum>1000</MaxNewsNum>
            </channel>
            <channel>
                <name>虎嗅网</name>
                <link>http://www.huxiu.com/rss/0.xml</link>
                <AllNewsNum>1005</AllNewsNum>
                <UnReadNewsNum>598</UnReadNewsNum>
                <Selected>0</Selected>
                <TTU>60</TTU>
                <MaxNewsNum>1000</MaxNewsNum>
            </channel>
            <channel>
                <name>虎嗅网 - 看点</name>
                <link>http://www.huxiu.com/rss/1.xml</link>
                <AllNewsNum>801</AllNewsNum>
                <UnReadNewsNum>793</UnReadNewsNum>
                <Selected>0</Selected>
                <TTU>60</TTU>
                <MaxNewsNum>1000</MaxNewsNum>
            </channel>
            <channel>
                <name>虎嗅网 - 观点</name>
                <link>http://www.huxiu.com/rss/4.xml</link>
                <AllNewsNum>715</AllNewsNum>
                <UnReadNewsNum>694</UnReadNewsNum>
                <Selected>0</Selected>
                <TTU>60</TTU>
                <MaxNewsNum>1000</MaxNewsNum>
            </channel>
            <channel>
                <name>TECH2IPO创见</name>
                <link>http://tech2ipo.com/feed</link>
                <AllNewsNum>422</AllNewsNum>
                <UnReadNewsNum>361</UnReadNewsNum>
                <Selected>0</Selected>
                <TTU>60</TTU>
                <MaxNewsNum>1000</MaxNewsNum>
            </channel>
            <channel>
                <name>TechCrunch</name>
                <link>http://feeds.feedburner.com/TechCrunch/</link>
                <AllNewsNum>20</AllNewsNum>
                <UnReadNewsNum>16</UnReadNewsNum>
                <Selected>0</Selected>
                <TTU>60</TTU>
                <MaxNewsNum>1000</MaxNewsNum>
            </channel>
        </folder>
        <folder name="个人博客" open="1">
            <channel>
                <name>yiihsia[互联网后端技术]</name>
                <link>http://www.yiihsia.com/feed/</link>
                <AllNewsNum>45</AllNewsNum>
                <UnReadNewsNum>43</UnReadNewsNum>
                <Selected>0</Selected>
                <TTU>60</TTU>
                <MaxNewsNum>1000</MaxNewsNum>
            </channel>
            <channel>
                <name>结构之法 算法之道</name>
                <link>http://blog.csdn.net/v_JULY_v/rss/list</link>
                <AllNewsNum>25</AllNewsNum>
                <UnReadNewsNum>23</UnReadNewsNum>
                <Selected>0</Selected>
                <TTU>60</TTU>
                <MaxNewsNum>1000</MaxNewsNum>
            </channel>
            <channel>
                <name>DBA Notes</name>
                <link>http://www.dbanotes.net/index.xml</link>
                <AllNewsNum>22</AllNewsNum>
                <UnReadNewsNum>19</UnReadNewsNum>
                <Selected>0</Selected>
                <TTU>60</TTU>
                <MaxNewsNum>1000</MaxNewsNum>
            </channel>
            <channel>
                <name>datavlab.org</name>
                <link>http://feed.feedsky.com/datavlaborg</link>
                <AllNewsNum>17</AllNewsNum>
                <UnReadNewsNum>15</UnReadNewsNum>
                <Selected>0</Selected>
                <TTU>60</TTU>
                <MaxNewsNum>1000</MaxNewsNum>
            </channel>
            <channel>
                <name>codedump</name>
                <link>http://www.codedump.info/?feed=rss2</link>
                <AllNewsNum>21</AllNewsNum>
                <UnReadNewsNum>21</UnReadNewsNum>
                <Selected>0</Selected>
                <TTU>60</TTU>
                <MaxNewsNum>1000</MaxNewsNum>
            </channel>
            <channel>
                <name>BlogJava-xylz,imxylz</name>
                <link>http://www.blogjava.net/xylz/rss</link>
                <AllNewsNum>23</AllNewsNum>
                <UnReadNewsNum>16</UnReadNewsNum>
                <Selected>0</Selected>
                <TTU>60</TTU>
                <MaxNewsNum>1000</MaxNewsNum>
            </channel>
            <channel>
                <name>装逼程序员</name>
                <link>http://blog.zephyrleaves.net/?feed=rss2</link>
                <AllNewsNum>22</AllNewsNum>
                <UnReadNewsNum>21</UnReadNewsNum>
                <Selected>0</Selected>
                <TTU>60</TTU>
                <MaxNewsNum>1000</MaxNewsNum>
            </channel>
            <channel>
                <name>库壳</name>
                <link>http://coolshell.cn/feed</link>
                <AllNewsNum>15</AllNewsNum>
                <UnReadNewsNum>15</UnReadNewsNum>
                <Selected>0</Selected>
                <TTU>60</TTU>
                <MaxNewsNum>1000</MaxNewsNum>
            </channel>
            <channel>
                <name>贰号楼肆层</name>
                <link>http://feed.feedsky.com/pampas</link>
                <AllNewsNum>10</AllNewsNum>
                <UnReadNewsNum>3</UnReadNewsNum>
                <Selected>0</Selected>
                <TTU>60</TTU>
                <MaxNewsNum>1000</MaxNewsNum>
            </channel>
        </folder>
        <folder name="团队博客" open="1">
            <folder name="淘宝" open="1">
                <channel>
                    <name>Taobao QA Team</name>
                    <link>http://qa.taobao.com/?feed=rss2</link>
                    <AllNewsNum>39</AllNewsNum>
                    <UnReadNewsNum>37</UnReadNewsNum>
                    <Selected>0</Selected>
                    <TTU>60</TTU>
                    <MaxNewsNum>1000</MaxNewsNum>
                </channel>
                <channel>
                    <name>淘宝共享数据平台</name>
                    <link>http://www.tbdata.org/feed</link>
                    <AllNewsNum>22</AllNewsNum>
                    <UnReadNewsNum>21</UnReadNewsNum>
                    <Selected>0</Selected>
                    <TTU>60</TTU>
                    <MaxNewsNum>1000</MaxNewsNum>
                </channel>
                <channel>
                    <name>淘宝核心系统团队博客</name>
                    <link>http://rdc.taobao.com/blog/cs/?feed=rss2</link>
                    <AllNewsNum>18</AllNewsNum>
                    <UnReadNewsNum>16</UnReadNewsNum>
                    <Selected>0</Selected>
                    <TTU>60</TTU>
                    <MaxNewsNum>1000</MaxNewsNum>
                </channel>
                <channel>
                    <name>淘宝网通用产品团队博客</name>
                    <link>http://rdc.taobao.com/team/jm/feed</link>
                    <AllNewsNum>42</AllNewsNum>
                    <UnReadNewsNum>39</UnReadNewsNum>
                    <Selected>0</Selected>
                    <TTU>60</TTU>
                    <MaxNewsNum>1000</MaxNewsNum>
                </channel>
            </folder>
            <folder name="UED" open="1">
                <channel>
                    <name>微博UDC</name>
                    <link>http://udc.weibo.com/feed/</link>
                    <AllNewsNum>30</AllNewsNum>
                    <UnReadNewsNum>29</UnReadNewsNum>
                    <Selected>0</Selected>
                    <TTU>60</TTU>
                    <MaxNewsNum>1000</MaxNewsNum>
                </channel>
                <channel>
                    <name>阿里巴巴（中国站）用户体验设计部博客</name>
                    <link>http://www.aliued.cn/feed</link>
                    <AllNewsNum>25</AllNewsNum>
                    <UnReadNewsNum>25</UnReadNewsNum>
                    <Selected>0</Selected>
                    <TTU>60</TTU>
                    <MaxNewsNum>1000</MaxNewsNum>
                </channel>
                <channel>
                    <name>Taobao UED Team</name>
                    <link>http://ued.taobao.com/blog/feed/</link>
                    <AllNewsNum>31</AllNewsNum>
                    <UnReadNewsNum>30</UnReadNewsNum>
                    <Selected>0</Selected>
                    <TTU>60</TTU>
                    <MaxNewsNum>1000</MaxNewsNum>
                </channel>
            </folder>
            <channel>
                <name>搜索研发部官方博客</name>
                <link>http://stblog.baidu-tech.com/?feed=rss2</link>
                <AllNewsNum>36</AllNewsNum>
                <UnReadNewsNum>36</UnReadNewsNum>
                <Selected>0</Selected>
                <TTU>60</TTU>
                <MaxNewsNum>1000</MaxNewsNum>
            </channel>
            <channel>
                <name>腾讯大讲堂 - 讲堂活动</name>
                <link>http://djt.qq.com/forum.php?mod=rss&amp;fid=51&amp;auth=1d0evb3bExmJOTsijzPt%2FbTPl%2F89TvClCJ%2BA3SbqQVTjG5kdKmspZ8%2BmM652</link>
                <AllNewsNum>35</AllNewsNum>
                <UnReadNewsNum>34</UnReadNewsNum>
                <Selected>0</Selected>
                <TTU>60</TTU>
                <MaxNewsNum>1000</MaxNewsNum>
            </channel>
            <channel>
                <name>腾讯大讲堂 - 产品解读</name>
                <link>http://djt.qq.com/forum.php?mod=rss&amp;fid=47&amp;auth=c4a8kwMe8SH7ICNDgFQ8C0uhOYclRJrjitA59ZEiigs5PkNpU%2BheNx4wbQBT</link>
                <AllNewsNum>68</AllNewsNum>
                <UnReadNewsNum>66</UnReadNewsNum>
                <Selected>0</Selected>
                <TTU>60</TTU>
                <MaxNewsNum>1000</MaxNewsNum>
            </channel>
            <channel>
                <name>腾讯大讲堂 - 技术探索</name>
                <link>http://djt.qq.com/forum.php?mod=rss&amp;fid=46&amp;auth=78e4tcOIsvWIEc6y6SuIeQf%2B6QaLQPp0mQGZuosrpUB9PhGEbscjGdXgVfC5</link>
                <AllNewsNum>67</AllNewsNum>
                <UnReadNewsNum>65</UnReadNewsNum>
                <Selected>0</Selected>
                <TTU>60</TTU>
                <MaxNewsNum>1000</MaxNewsNum>
            </channel>
        </folder>
        <folder name="技术论坛" open="1">
            <folder name="infoq" open="1">
                <channel>
                    <name>InfoQ</name>
                    <link>http://www.infoq.com/cn/rss/rss.action?token=dsvbM0Sm4WF9m7lkkjZybYKVRV64EizT</link>
                    <AllNewsNum>465</AllNewsNum>
                    <UnReadNewsNum>418</UnReadNewsNum>
                    <Selected>0</Selected>
                    <TTU>60</TTU>
                    <MaxNewsNum>1000</MaxNewsNum>
                </channel>
            </folder>
            <folder name="JavaEye" open="1">
                <channel>
                    <name>资讯频道</name>
                    <link>http://www.iteye.com/rss/news</link>
                    <AllNewsNum>972</AllNewsNum>
                    <UnReadNewsNum>889</UnReadNewsNum>
                    <Selected>0</Selected>
                    <TTU>60</TTU>
                    <MaxNewsNum>1000</MaxNewsNum>
                </channel>
                <channel>
                    <name>精华讨论帖</name>
                    <link>http://www.iteye.com/rss/topic</link>
                    <AllNewsNum>36</AllNewsNum>
                    <UnReadNewsNum>27</UnReadNewsNum>
                    <Selected>0</Selected>
                    <TTU>60</TTU>
                    <MaxNewsNum>1000</MaxNewsNum>
                </channel>
                <channel>
                    <name>Java讨论 - ITeye</name>
                    <link>http://www.iteye.com/rss/board/Java</link>
                    <AllNewsNum>961</AllNewsNum>
                    <UnReadNewsNum>949</UnReadNewsNum>
                    <Selected>0</Selected>
                    <TTU>60</TTU>
                    <MaxNewsNum>1000</MaxNewsNum>
                </channel>
                <channel>
                    <name>Web讨论 - ITeye</name>
                    <link>http://www.iteye.com/rss/board/web</link>
                    <AllNewsNum>531</AllNewsNum>
                    <UnReadNewsNum>530</UnReadNewsNum>
                    <Selected>0</Selected>
                    <TTU>60</TTU>
                    <MaxNewsNum>1000</MaxNewsNum>
                </channel>
                <channel>
                    <name>移动开发 - ITeye</name>
                    <link>http://www.iteye.com/rss/board/mobile</link>
                    <AllNewsNum>255</AllNewsNum>
                    <UnReadNewsNum>255</UnReadNewsNum>
                    <Selected>0</Selected>
                    <TTU>60</TTU>
                    <MaxNewsNum>1000</MaxNewsNum>
                </channel>
                <channel>
                    <name>综合技术</name>
                    <link>http://www.iteye.com/rss/board/Tech</link>
                    <AllNewsNum>356</AllNewsNum>
                    <UnReadNewsNum>356</UnReadNewsNum>
                    <Selected>0</Selected>
                    <TTU>60</TTU>
                    <MaxNewsNum>1000</MaxNewsNum>
                </channel>
                <channel>
                    <name>海阔天空</name>
                    <link>http://www.iteye.com/rss/board/Life</link>
                    <AllNewsNum>213</AllNewsNum>
                    <UnReadNewsNum>178</UnReadNewsNum>
                    <Selected>0</Selected>
                    <TTU>60</TTU>
                    <MaxNewsNum>1000</MaxNewsNum>
                </channel>
                <channel>
                    <name>ITeye博客</name>
                    <link>http://www.iteye.com/rss/blogs</link>
                    <AllNewsNum>1001</AllNewsNum>
                    <UnReadNewsNum>1001</UnReadNewsNum>
                    <Selected>0</Selected>
                    <TTU>60</TTU>
                    <MaxNewsNum>1000</MaxNewsNum>
                </channel>
                <channel>
                    <name>ITeye群组讨论</name>
                    <link>http://www.iteye.com/rss/groups</link>
                    <AllNewsNum>846</AllNewsNum>
                    <UnReadNewsNum>846</UnReadNewsNum>
                    <Selected>0</Selected>
                    <TTU>60</TTU>
                    <MaxNewsNum>1000</MaxNewsNum>
                </channel>
            </folder>
            <folder name="blogjava" open="1">
                <channel>
                    <name>BlogJava-首页技术区</name>
                    <link>http://www.blogjava.net/rss</link>
                    <AllNewsNum>756</AllNewsNum>
                    <UnReadNewsNum>685</UnReadNewsNum>
                    <Selected>0</Selected>
                    <TTU>60</TTU>
                    <MaxNewsNum>1000</MaxNewsNum>
                </channel>
            </folder>
            <folder name="CSDN" open="1">
                <channel>
                    <name>移动资讯</name>
                    <link>http://mobile.csdn.net/rss.html?regionid=1107</link>
                    <AllNewsNum>301</AllNewsNum>
                    <UnReadNewsNum>291</UnReadNewsNum>
                    <Selected>0</Selected>
                    <TTU>60</TTU>
                    <MaxNewsNum>1000</MaxNewsNum>
                </channel>
                <channel>
                    <name>移动博客</name>
                    <link>http://mobile.csdn.net/rss.html?regionid=6c0ef463-95f6-4de8-9f53-4355170c7229</link>
                    <AllNewsNum>555</AllNewsNum>
                    <UnReadNewsNum>554</UnReadNewsNum>
                    <Selected>0</Selected>
                    <TTU>60</TTU>
                    <MaxNewsNum>1000</MaxNewsNum>
                </channel>
                <channel>
                    <name>移动开发</name>
                    <link>http://blog.csdn.net/rss.html?type=Home&amp;channel=mobile</link>
                    <AllNewsNum>1002</AllNewsNum>
                    <UnReadNewsNum>1002</UnReadNewsNum>
                    <Selected>0</Selected>
                    <TTU>60</TTU>
                    <MaxNewsNum>1000</MaxNewsNum>
                </channel>
                <channel>
                    <name>架构设计</name>
                    <link>http://blog.csdn.net/rss.html?type=Home&amp;channel=enterprise</link>
                    <AllNewsNum>990</AllNewsNum>
                    <UnReadNewsNum>986</UnReadNewsNum>
                    <Selected>0</Selected>
                    <TTU>60</TTU>
                    <MaxNewsNum>1000</MaxNewsNum>
                </channel>
                <channel>
                    <name>互联网</name>
                    <link>http://blog.csdn.net/rss.html?type=Home&amp;channel=www</link>
                    <AllNewsNum>908</AllNewsNum>
                    <UnReadNewsNum>904</UnReadNewsNum>
                    <Selected>0</Selected>
                    <TTU>60</TTU>
                    <MaxNewsNum>1000</MaxNewsNum>
                </channel>
                <channel>
                    <name>数据库</name>
                    <link>http://blog.csdn.net/rss.html?type=Home&amp;channel=database</link>
                    <AllNewsNum>1003</AllNewsNum>
                    <UnReadNewsNum>700</UnReadNewsNum>
                    <Selected>0</Selected>
                    <TTU>60</TTU>
                    <MaxNewsNum>1000</MaxNewsNum>
                </channel>
                <channel>
                    <name>系统运维</name>
                    <link>http://blog.csdn.net/rss.html?type=Home&amp;channel=system</link>
                    <AllNewsNum>943</AllNewsNum>
                    <UnReadNewsNum>943</UnReadNewsNum>
                    <Selected>0</Selected>
                    <TTU>60</TTU>
                    <MaxNewsNum>1000</MaxNewsNum>
                </channel>
                <channel>
                    <name>研发管理</name>
                    <link>http://blog.csdn.net/rss.html?type=Home&amp;channel=software</link>
                    <AllNewsNum>628</AllNewsNum>
                    <UnReadNewsNum>628</UnReadNewsNum>
                    <Selected>0</Selected>
                    <TTU>60</TTU>
                    <MaxNewsNum>1000</MaxNewsNum>
                </channel>
                <channel>
                    <name>综合推荐</name>
                    <link>http://blog.csdn.net/rss.html?type=Home&amp;channel=other</link>
                    <AllNewsNum>1001</AllNewsNum>
                    <UnReadNewsNum>1000</UnReadNewsNum>
                    <Selected>0</Selected>
                    <TTU>60</TTU>
                    <MaxNewsNum>1000</MaxNewsNum>
                </channel>
                <channel>
                    <name>博客推荐</name>
                    <link>http://blog.csdn.net/rss.html?type=Home&amp;channel=</link>
                    <AllNewsNum>1019</AllNewsNum>
                    <UnReadNewsNum>1017</UnReadNewsNum>
                    <Selected>0</Selected>
                    <TTU>60</TTU>
                    <MaxNewsNum>1000</MaxNewsNum>
                </channel>
            </folder>
            <folder name="oschina" open="1">
                <channel>
                    <name>最新软件</name>
                    <link>http://www.oschina.net/project/rss</link>
                    <AllNewsNum>1000</AllNewsNum>
                    <UnReadNewsNum>991</UnReadNewsNum>
                    <Selected>0</Selected>
                    <TTU>60</TTU>
                    <MaxNewsNum>1000</MaxNewsNum>
                </channel>
                <channel>
                    <name>最新新闻</name>
                    <link>http://www.oschina.net/news/rss</link>
                    <AllNewsNum>1003</AllNewsNum>
                    <UnReadNewsNum>1002</UnReadNewsNum>
                    <Selected>0</Selected>
                    <TTU>60</TTU>
                    <MaxNewsNum>1000</MaxNewsNum>
                </channel>
                <channel>
                    <name>最新博客</name>
                    <link>http://www.oschina.net/blog/rss</link>
                    <AllNewsNum>1008</AllNewsNum>
                    <UnReadNewsNum>1008</UnReadNewsNum>
                    <Selected>0</Selected>
                    <TTU>60</TTU>
                    <MaxNewsNum>1000</MaxNewsNum>
                </channel>
                <channel>
                    <name>讨论话题</name>
                    <link>http://www.oschina.net/question/rss</link>
                    <AllNewsNum>1011</AllNewsNum>
                    <UnReadNewsNum>1011</UnReadNewsNum>
                    <Selected>0</Selected>
                    <TTU>60</TTU>
                    <MaxNewsNum>1000</MaxNewsNum>
                </channel>
                <channel>
                    <name>代码片段</name>
                    <link>http://www.oschina.net/code/rss</link>
                    <AllNewsNum>1002</AllNewsNum>
                    <UnReadNewsNum>1002</UnReadNewsNum>
                    <Selected>0</Selected>
                    <TTU>60</TTU>
                    <MaxNewsNum>1000</MaxNewsNum>
                </channel>
            </folder>
        </folder>
        <folder name="娱乐" open="1">
            <channel>
                <name>糗事百科</name>
                <link>http://feed.feedsky.com/qiushi</link>
                <AllNewsNum>94</AllNewsNum>
                <UnReadNewsNum>0</UnReadNewsNum>
                <Selected>0</Selected>
                <TTU>60</TTU>
                <MaxNewsNum>1000</MaxNewsNum>
            </channel>
            <channel>
                <name>和谐娱乐</name>
                <link>http://feed.feedsky.com/kisshi</link>
                <AllNewsNum>843</AllNewsNum>
                <UnReadNewsNum>478</UnReadNewsNum>
                <Selected>0</Selected>
                <TTU>60</TTU>
                <MaxNewsNum>1000</MaxNewsNum>
            </channel>
            <channel>
                <name>cnBeta资讯</name>
                <link>http://cnbeta.feedsportal.com/c/34306/f/624776/index.rss</link>
                <AllNewsNum>200</AllNewsNum>
                <UnReadNewsNum>190</UnReadNewsNum>
                <Selected>0</Selected>
                <TTU>60</TTU>
                <MaxNewsNum>200</MaxNewsNum>
            </channel>
            <channel>
                <name>社会万象-新浪新闻</name>
                <link>http://rss.sina.com.cn/news/society/misc15.xml</link>
                <AllNewsNum>279</AllNewsNum>
                <UnReadNewsNum>162</UnReadNewsNum>
                <Selected>0</Selected>
                <TTU>60</TTU>
                <MaxNewsNum>1000</MaxNewsNum>
            </channel>
        </folder>
    </tree>
</config>
